@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Navbar */
#nav-bar {
  position: fixed;
  border: 1px solid;
  width: 300px;
  min-height: 100vh;
  background-color: #040b14;
}

.male {
  display: block;
  width: 120px;
  aspect-ratio: 1;
  border-radius: 100%;
  border: 8px solid #2c2f3f;
  margin: 15px auto;
  object-fit: cover;
}

#nav-bar h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 600;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Open Sans", sans-serif;
  margin: 16px 0px 0px;
}

.socials i:hover {
  background-color: #149ddd;
}

.socials i {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #2c2f3f;
  border-radius: 50%;
  background-color: #212431;
  font-size: 18px;
  margin-right: 10px;
  color: white;
  width: 36px;
  height: 36px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10%;
  padding: 10px 0px 0px;
  font-family: "Open Sans", sans-serif;
}

ul i {
  font-size: 24px;
}

.nav-link {
  list-style: none;
  font-size: 15px;
  padding: 30px 0px 0px;
}

a {
  text-decoration: none;
  color: #a8a9b4;
}

a.link {
  display: flex;
  align-items: center;
  gap: 10px;
}

li:visited > a {
  color: #a8a9b4;
}

li:hover > a {
  color: white;
}

li:hover > a > i {
  color: #149ddd;
}

li:visited > a {
  color: white;
}
li:visited > a > i {
  color: #149ddd;
}

li > a:active {
  color: white;
}

li:active > a > i {
  color: #149ddd;
}

/* Main Content */
#content {
  margin-left: 300px;
}
section {
  min-height: 100vh;
}

/* About */

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#home h1 {
  color: white;
  font-family: "Raleway", sans-serif;
}

#home h2 {
  color: white;
  font-family: "Poppins", sans-serif;
}

#home {
  background-image: url(./male.jpg);
  background-size: cover;
}

/* Media Query */
@media screen {
}
